@font-face {
      font-family: 'Meedori RE';
      src: url(./assets/fonts/Meedori_Sans_Regular.ttf) format('truetype');
}

@font-face  {
      font-family: 'Meedori BO';
      src: url(./assets/fonts/Meedori_Sans_Bold.ttf) format('truetype');
}

#root {
      width: 100vw;
      height: 100vh;
}